REACT_APP_API_TOKEN='eyJhbGciOiJIUzI1NiIsImtpZCI6IkNhbnZhc1MyU0hNQUNQcm9kIiwidHlwIjoiSldUIn0.eyJhdWQiOiJjYW52YXMtY2FudmFzYXBpIiwiaXNzIjoiY2FudmFzLXMyc3Rva2VuIiwibmJmIjoxNzE1MDc0NzM4LCJzdWIiOiI2N2YzYmY5OC0yYWQ1LTQ5YmItOGJiNi01MmEyYjNlZTBlNDF-UFJPRFVDVElPTn5iYjU4Y2Y3My0wYzg3LTQ0OWMtOTI2Zi05NjFiYTk4M2U1NjkifQ.OAJUHIWivA2i3bMd86h1yJjU-XvupnQK8uBFRHNNfzI'
# REACT_APP_LENS_ID=LENS ID
REACT_APP_LENS_GROUP_ID="642ce88b-5e3c-46d0-a7bd-8c08175d062f"